/* this css file for calender (date picker style) */

.drp-buttons {
    display: none!important;
}
.in-range{
    background-color: #eefde4!important
}
.start-date,
.end-date {
    border-radius: 80% !important;
    background-color:#4BC800!important
}
.off {
    color: #9b9b9b !important;
    /* display: none; */
}
.available{
    border-bottom: 1px solid #EEEEEE!important;
    margin-top: 5px;
    margin-bottom: 5px;
}
.ranges ul li:hover{
    color:#4BC800!important;
    background-color:white!important
}
.ranges ul li.active{
    color:#4BC800!important;
    background-color:white!important
}
.prev,
.next{
    border-bottom: none!important
}